/* Styling for the blogs comments section */
/* stylelint-disable no-descending-specificity */

:root {
  --black: rgba(10, 10, 10, 0.8);
  --darkgreen: rgba(30, 71, 25, 1);
  --orange: rgba(246, 206, 33, 1);
  --lightgreen: rgba(132, 194, 36, 1);
  --kaushan: 'Kaushan Script', cursive;
  --alkatra: 'Alkatra', cursive;
}

/* blogs comments section */

.blogComments h2,
h4 {
  margin: 40px 0;
}

.blogComments .commentForm {
  margin: 20px;
}

.blogComments .commentForm label {
  font-size: 22px;
  margin: 10px 0;
  font-weight: bold;
}

.blogComments .commentForm input {
  width: 100%;
  padding: 15px;
}

.blogComments .commentForm textarea {
  height: 50vh;
}
