/* Styling for the home blogs section */

:root {
  --black: rgba(10, 10, 10, 0.8);
  --darkgreen: rgba(30, 71, 25, 1);
  --orange: rgba(246, 206, 33, 1);
  --lightgreen: rgba(132, 194, 36, 1);
  --kaushan: 'Kaushan Script', cursive;
  --alkatra: 'Alkatra', cursive;
}

/* home blogs section */

.homeblogs {
  background-color: rgba(247, 247, 247, 1);
  padding: 0 3%;
  margin: 80px 0;
}

.homeblogs .blogstitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.homeblogs .blogstitle .left h4 {
  font-family: var(--alkatra);
}

.homeblogs .blogstitle .left h2 {
  font-weight: bold;
}

.homeblogs .blogstitle .right p a {
  text-decoration: none;
  background-color: var(--lightgreen);
  padding: 15px;
  border-radius: 25px;
  color: #fff;
  transition: 0.5s;
}

.homeblogs .blogstitle .right p a:hover {
  background-color: var(--orange);
}

.homeblogs .blogstitle .right p a:active {
  background-color: var(--lightgreen);
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blogs .blog {
  margin-bottom: 30px;
}

.blogs .blog img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 45vh;
  border-radius: 15px;
  margin-bottom: 15px;
}

.blogs .blog h3,
p {
  margin-bottom: 10px;
}

.italics {
  font-style: italic;
  font-size: 18px;
}

.bloglink {
  color: var(--lightgreen);
}

.blogs .blog p a {
  text-decoration: none;
  color: var(--lightgreen);
  padding-right: 10px;
}
