<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment text:</strong>
    <%= comment.comment_text %>
  </p>

  <p>
    <strong>Commenter name:</strong>
    <%= comment.commenter_name %>
  </p>

</div>
