<p style="color: green"><%= notice %></p>

<header class="aboutheader">
  <h2>Contact Us</h2>
  <h3><%= link_to "Home", root_path %> <span>-</span>Contact Us</h3>
</header>

<main class="contactMain">
  <section class="contactTop">
    <div class="left">
      <div class="contactCards">
        <div class="card">
          <p><i class="fa fa-phone" aria-hidden="true"></i></p>
          <h3>Phone</h3>
          <p>+254762345543</p>
          <p>+254762345543</p>
        </div>

        <div class="card">
          <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
          <h3>Address</h3>
          <p>120 Sipes Track, R4553 - TA </p>
        </div>

        <div class="card">
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
          <h3>Email</h3>
          <p>nemwel@gmail.com</p>
          <p>yours@example.com</p>
        </div>

        <div class="card">
          <p><i class="fa fa-clock-o" aria-hidden="true"></i></p>
          <h3>Opening Hours</h3>
          <p>Mon - Fri: 6am - 7pm</p>
          <p>Sat - Sun: Closed </p>
        </div>
      </div>
    </div>

    <div class="right">
      <h3 class="lightgreentext">Send us a message</h3>
      <h2>Help us with your feedback, it is of great value, so we can help serve you better and better</h2>
      <form class="form">
        <input type="text" name="Your name" placeholder="Your name" required>
        <input type="email" name="Your email" placeholder="youremail@example.com" required>
        <textarea placeholder="Your message"></textarea>
        <input type="submit" value="SEND A MESSAGE">
      </form>
    </div>
  </section>
</main>