<main class="main">
  <section class="landing">
    <div class="landingWrap">
      <p class="orange">No antibiotics, no growth stimulants</p>
      <h1>Fresh eggs for you everyday!</h1>
      <p>Authentic free range Kienyeji chicken</p>
      <%= link_to "Contact Us", "#", class: ""%>
    </div>
  </section>

  <section class="welcome">
    <div class="welcomeHeader">
      <h4 class="lightgreentext">Quality eggs at wholesale prices</h4>
      <h2 class="darkgreentext">Welcome to our Poultry farm</h2>
      <p class="lightgraytext">Do you like organically reared chicken?<p>
    </div>
  </section>
</main>


