<p style="color: green"><%= notice %></p>

<header class="aboutheader">
  <h2>About Us</h2>
  <h3><%= link_to "Home", root_path %> <span>-</span>About Us</h3>
</header>

<main class="main">
  <section class="welcome">
    <div class="welcomeHeader">
      <h4 class="lightgreentext">Quality eggs at wholesale prices</h4>
      <h2 class="darkgreentext">Welcome to our Poultry farm</h2>
      <p class="lightgraytext">Do you like organically reared chicken?<p>
    </div>

    <article class="welcometop">
      <div class="welcometopLeft">
        <%= image_tag("freerangehens.jpg", alt: "Woman holding chicken") %>
      </div>
      <div class="welcometopRight">
        <div class="welcometopLeftCard">
          <h3 class="darkgreentext">We supplyto restaurants, cafes, bakeries and even independent supermarkets</h3>
          <p class="lightgraytext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora ad cumque, eveniet aliquam repellendus quam nisi consectetur? Vitae, ratione laboriosam!</p>
        </div>

        <div class="welcometopLeftCard">
          <h3 class="darkgreentext">We promise you a reliable delivery of quality eggs at wholesale prices</h3>
          <p class="lightgraytext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora ad cumque, eveniet aliquam repellendus quam nisi consectetur? Vitae, ratione laboriosam!</p>
        </div>

        <div class="welcometopLeftContact">
          <div class="left">
            <p><i class="fa fa-phone" aria-hidden="true"></i></p>
          </div>

          <div class="right">
            <h3 class="orangetext">How to order?</h3>
            <h3 class="darkgreentext">+254723456263</h3>
          </div>
        </div>
      </div>
    </article>

    
  </section>
</main>

