/* Styling for the home blogs section */
/* stylelint-disable no-descending-specificity */

:root {
  --black: rgba(10, 10, 10, 0.8);
  --darkgreen: rgba(30, 71, 25, 1);
  --orange: rgba(246, 206, 33, 1);
  --lightgreen: rgba(132, 194, 36, 1);
  --kaushan: 'Kaushan Script', cursive;
  --alkatra: 'Alkatra', cursive;
}

/* home blogs section */

.blogsPage {
  background-color: rgba(247, 247, 247, 1);
  padding: 0 3%;
  margin: 80px 0;
}

/* Align the new blog link to the right */

.blogsPage .newbloglink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.blogsPage .newbloglink p a {
  text-decoration: none;
  background-color: var(--lightgreen);
  padding: 15px;
  border-radius: 25px;
  color: #fff;
  transition: 0.5s;
}

.blogsPage .newbloglink p a:hover {
  background-color: var(--orange);
}

.blogsPage .newbloglink p a:active {
  background-color: var(--lightgreen);
}