<h1>Editing dashboard</h1>

<%= render "form", dashboard: @dashboard %>

<br>

<div>
  <%= link_to "Show this dashboard", @dashboard %> |
  <%= link_to "Back to dashboards", dashboards_path %>
</div>
